/*
Header is relative so z-index: 1 guarantees always displayed on top
*/
header.mobile {
      background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D9DAD5;
    position: fixed;
    width: 100%;
    z-index: 1;
	padding:50px 0 30px; display:none;
  
}
header.mobile-society {
    position: fixed;
    width: 100%;
    z-index: 1;
	padding:50px 0 30px; display:none;
  
}
header.home{ display:block;}

/*
using background color is important to cover the menu
position absolute isset to cover the whole viewport
*/
#content {
 
    padding: 0;
    position: relative;
    width: auto;
    

}
#content-new {
 
    padding: 0;

    width: auto;
	position:relative;
    

}

/*
the hamburger button with a little gradient effekt
*/
#hamburger {
    float:right;
  
    cursor: pointer;
    display: block;
    height: 44px;
    padding:12px;
    position: relative;
    width: 48px;
  margin:0 35px 0 0;
}

#hamburger img{ cursor:pointer;}

/*
The white stripes in the hamburger button
*/
#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

/*
The navigation container in the background
*/
nav.mobile {
    /*left: 0px;*/
    right:0;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 70%;
    height: 100%; float:none; margin:0; padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x:hidden;
    overflow-y:auto ;
    background: #1a1a1a;
  
}

/*
Style the navigation menu
*/
nav.mobile ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav.mobile li {
    position: relative;

    border-top: 1px solid #000000; height:auto;  overflow:hidden; 
    padding:30px; display:block; text-align:left;  color:#666666; font-family:'adelle-sans',Arial,sans-serif; font-size:12px; text-decoration:none;
}
nav.mobile li a {
    color: #fff;
    text-decoration: none;  font-family:'adelle-sans',Arial,sans-serif; font-size:18px; text-decoration:none; height:auto;
}

nav.mobile li a:hover{ color:#666;}
/*
The Layer that will be layed over the content
so that the content is unclickable while menu is shown
*/
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left:0;
    /*right: 0;*/
    top: 0;
    width: 30%;
    z-index: 5;
    /*min-height: 1062px;*/
}


@media only screen and (max-width: 700px) {

header.mobile {display:block;}
header.mobile-society {display:block;}
header.inner{ display:none;}
header.inner-society{ display:none;}
header.home{ display:none;}
	
}