@media screen and (max-width: 1150px){
    .timeline {
        display: none;
    }
    #dates {
        display: none;
    }  
    #sound {
        margin-left: 796px;
        position: absolute;
        top: 130px;
    }
}
@media screen and (max-width: 910px){
    .container {
        padding: 0 3%;
        width: 94%;
    }
    header {
        padding-bottom: 40px;
        text-align: center;
    }
    .logo {
        float: none;
        margin: 25px auto 0;
    }
    #nav {
        float: none;
        margin-top: 20px;
    }
    #nav ul li ul li {
        text-align: left;
    }
    #sound {
        margin-left: 0;
        right: 3%;
        top: 115px;
    }
    #home-content {
        float: none;
        margin: 0 auto 20px;
    }
    #home-sidebar {
        float: none;
        margin: 0 auto 20px;
        padding-left: 34px;
        width: 473px;
    }
    .current-event .botton {
        width: 100%;
    }
    .sign-up {
        width: 412px;
    }
    #content #content-sidebar-left .comments-icon {
        top: -33px;
    }
    #content #content_footer {
        height: 90px;
    }
    #content #content_footer .copyright {
        float: none;
        margin: 0 auto;
        padding-top: 17px;
        text-align: center;
    }
    #content #content_footer .menu {
        float: none;
        margin: 15px auto 0;
        text-align: center;
    }
    #content #content_footer .menu ul li {
        display: inline-block;
    }
    .menu .fright {
        display: inline-block;
        float: none;
    }
    #content #content_footer .menu .scrollup {
        position: absolute;
        right: 5%;
    }
    #content #content-sidebar-left, #content #content-sidebar-right {
        float: none;
        width: 100%;
    }
    #content #sidebar-left, #content #sidebar-right {
        float: none;
        margin: 20px 0 -25px -25px;
        min-height: inherit !important;
        width: 100%;
    }
    .event-post .date-pic {
        width: 20%;
    }
    .event-post .event-data {
        width: 80%;
    }
    .event-post .event-data .upcoming {
        bottom: 10px;
    }
    .contact-social {
        float: none;
        margin-bottom: 18px;
        margin-left: -8px;
    }
    #contact .msg {
        float: none;
        margin-bottom: 10px;
        margin-top: 0;
        width: 98%;
    }
    #content .innercontent .title {
        z-index: 1;
    }
    .top-paginations, .bottom-paginations {
        z-index: 2;
    }
    #gallery {
        text-align: center;
    }
    #gallery .single-gallery {
        display: inline-block;
        float: none;
        text-align: left;
        vertical-align: top;
    }
    #portfolio .filter {
        float: left;
        margin-left: 87px;
        margin-top: 0;
    }
    .filterable-grid {
        text-align: center;
    }
    #portfolio .single-portfolio {
        display: inline-block;
        float: none;
        text-align: left;
        vertical-align: top;
    }
    #content .innercontent .title span {
        display: none;
    }
    #content .innercontent .title {
        float: none;
    }
    .innercontent iframe {
        width: 100%;
        height: 300px;
    }
    #slide-show {
        max-height: 300px !important;
        overflow: hidden;
    }
    .slide-show-right {
        float: none;
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
    }
    .slide-show-left {
        float: none;
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
    }
    .slide-soundcloud {
        height: 166px !important;
    }
}
@media screen and (max-width: 550px){
    header {
        padding-bottom: 40px;
    }
    #nav {
        margin-left: -3%;
        margin-top: 0;
        position: absolute;
        top: -70px;
        width: 100%;
        z-index: 2147483647;
    }
    #nav ul {
        display: none;
        height: auto;
    }
    #nav a#pull {
        background-color: #212121;
        color: #FFFFFF;
        display: block;
        font-family: Arial;
        font-size: 20px;
        height: 34px;
        padding-left: 3%;
        padding-top: 7px;
        position: relative;
        text-align: left;
        width: 97%;
    }
    #nav a#pull:after {
        content:"";
        background: url('../images/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 1%;
        top: 10px;
    }
    #nav .menu_arrow {
        margin-left: 0;
        margin-right: 4%;
    }
    #nav ul li ul {
        left: 0 !important;
        margin: 0 !important;
        position: relative !important;
        width: auto !important;
    }
    #nav ul li ul li .menu_arrow {
        background-image: url("../images/arrow_down.png");
        height: 5px;
        margin-right: 4%;
        width: 9px;
    }
    #nav > div > ul > li {
        padding-left: 3%;
        padding-top: 5px;
    }
    #nav ul li {
        background-color: #1D1D1D;
        border-bottom: 1px solid #333333;
        display: block !important;
        margin-left: 0 !important;
        text-align: left;
    }
    #nav ul li:last-child {
        border-bottom: 0px solid #333333;
    }
    #nav ul li ul ul {
        left: 4% !important;
        width: 96% !important;
    }
    .logo {
        margin: 70px auto 0;
        overflow: hidden;
    }
    #sound {
        left: 2%;
        right: auto;
        top: 65px;
    }
    #home-content {
        width: 100%;
        height: 765px;
    }
    #current-event-data .event-data {
        left: 0;
        right: auto;
        top: 38px;
        width: 100%;
    }
    #current-event-data ul.tabs-ui li {
        display: inline-block;
        margin-left: 0;
        margin-right: -4px;
        width: auto;
    }
    #current-event-data ul.tabs-ui li a {
        padding: 10px 20px 8px;
        width: auto;
    }
    #current-event-data ul.tabs-ui li a .rot {
        display: none;
    }
    #current-event-data ul.tabs-ui li a .wide-tab {
        display: block;
    }
    #home-content #event-slider, #home-content #event-slider .bjqs-wrapper, #home-content #event-slider .bjqs, #home-content #event-slider .bjqs-slide {
        height: 560px !important;
        overflow: hidden;
    }
    #home-content #event-slider .bjqs-slide img {
        height: auto !important;
        width: auto !important;
    }
    #current-event-data ul.tabs-ui {
        left: 0;
    }
    #current-event-data .event_gallery {
        height: 95px !important;
        width: 33.333333333% !important;
    }
    .gsWrapper {
        height: 95px !important;
        width: 100% !important;
    }
    #current-event-data .event_gallery img {
        height: 100% !important;
        width: 100% !important;
    }
    .gsCanvas {
        height: 95px;
        width: 100%;
    }
    #home-sidebar {
        padding-left: 0;
        width: 100%;
    }
    .sign-up {
        width: 90%;
    }
    .reveal-modal {
        width: 100% !important;
    }
    #content .innercontent .title {
        height: 50px;
    }
    .event-post .date-pic {
        float: none;
        margin: 20px 0;
        width: 70px;
    }
    .event-post .event-data {
        width: 100%;
    }
    .top-paginations {
        top: 5px;
    }
    #author, #email, #url {
        width: 94% !important;
    }
    #contact .inp {
        width: 98%;
    }
    .one_half, .one_third, .one_fourth, .one_fifth {
        width: 100%;
    }
}