#slides {
  position: relative; 
}
#slides .slides-container {
  display: none; 
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {

  background:url(../images/left_arrow.html) left top no-repeat; width:37px; height:44px; left:0; text-indent:-999em; font-size:0;

}

span.slidetext{ width:117px; height:71px;  background:url(../images/slide_text.html) left top no-repeat; position:absolute; z-index:5; left:50px; top:120px;}
span.slidetext img{ width:100% !important; max-width:117px !important; max-height:71px !important;}
.slides-navigation a.next {
  background:url(../images/right_arrow.html) left top no-repeat; width:37px; height:44px; right:0; text-indent:-999em; font-size:0;
}

.slides-pagination {
  position: absolute;
  z-index: 5;
  bottom: 50px;
  text-align: center;
  width: 100%; display:none;
}

.slides-pagination a {
   background:url(../images/pips.html) left top no-repeat; width:14px; height:14px; display:inline-block; margin:0 8px 0 0;
 }
 
.slides-pagination a.current {
 background:url(../images/pips-act.html) left top no-repeat; width:14px; height:14px; display:inline-block;
}
@media only screen and (max-width: 700px) {
	span.slidetext{left:36px; margin:0;}
}