################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.html
*.publishproj
*.js
/bootstrap
/css
/download
/fontawesome
/images
/js
/makeover
/projectX/pluralitas
/showcase/code
/showcase/dua
/showcase/googlewebdesigner
/showcase/googlewebdesigner/css/animation.css
/showcase/mobile
/showcase/serigala
/showcase/spritely
/showcase/suku-indonesia
/showcase/threejs
*.png
