/* line 34, ../sass/style.scss */
body, html {
  height: 100%;
  font-size: 100%;
}

clear {clear: both;}

input, textarea {
  font-size: 17px;
  font-family: merriweather sans;
  color: #444;
  text-align: center;
   display: block;
  margin-left: auto; 
  margin-right: auto;
  with: 100%;
position: auto; border: 0px solid #FF0000; resize:none;
}

arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid #FF9966;
  margin-bottom: -11px;
}


#logo { z-index: 2; bottom: 14px; left: 22px; position: fixed; }
#logo a { padding-left: 75px; background: url("logo-white.png") no-repeat scroll left bottom transparent; text-decoration: none; display: block; }

/* line 39, ../sass/style.scss */
body {
  overflow: hidden;
}

/* line 44, ../sass/style.scss */
.layer-nav {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding: 2% 5% 0 0;
}
/* line 47, ../sass/style.scss */
.layer-nav nav {
  position: relative;
  z-index: 10000;
  color: #fff;
  top: 3%;
  cursor: pointer;
}
/* line 54, ../sass/style.scss */
.layer-nav nav .name {
  display: inline-block;
  float: left;
  font-family: josefin sans;
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px;
  border: 0;
}
/* line 62, ../sass/style.scss */
.layer-nav nav .name i {
  border: 0;
}
/* line 64, ../sass/style.scss */
.layer-nav nav .name i:hover {
  border: 0;
}
/* line 69, ../sass/style.scss */
.layer-nav nav .menu {
  display: inline-block;
  float: right;
  font-family: josefin sans;
  text-transform: uppercase;
}
/* line 76, ../sass/style.scss */
.layer-nav nav .menu .pagename span {
  font-size: 10px;
  border: 0;
}
/* line 82, ../sass/style.scss */
.layer-nav nav .menu i.no-style {
  border: 0;
}
/* line 84, ../sass/style.scss */
.layer-nav nav .menu i.no-style:hover {
  border: 0;
}
/* line 89, ../sass/style.scss */
.layer-nav nav .ciricon {
  padding: 4px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
/* line 93, ../sass/style.scss */
.layer-nav nav .ciricon:hover {
  border-bottom: 0;
  border-top: 1px solid #fff;
}
/* line 99, ../sass/style.scss */
.layer-nav nav .logo {
  font-family: llogo;
  font-size: 9px;
  font-size: 0.9rem;
  position: relative;
  top: 3px;
}


/* line 106, ../sass/style.scss */
.layer-nav nav span {
  font-size: 15px;
}

/* line 114, ../sass/style.scss */
.layer-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  float: none;
  margin: 0 auto;
}

/* line 122, ../sass/style.scss */
#container {
  width: 100%;
  height: 100%;
}
/* line 127, ../sass/style.scss */
#container .frame {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  height: 100%;
}
/* line 131, ../sass/style.scss */
#container .index {
  background-color: #DC3D24;
}
/* line 134, ../sass/style.scss */
#container .index #introsec {
  text-align: right;
  margin-top: 20%;
}
/* line 139, ../sass/style.scss */
#container .index #introsec h2 {
  font-family: Josefin Sans;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 80px;
}
/* line 146, ../sass/style.scss */
#container .index #introsec hr {
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  float: right;
}
/* line 151, ../sass/style.scss */
#container .index #introsec p {
  color: rgba(255, 255, 255, 0.6);
  font-family: merriweather sans;
  font-weight: 100;
  font-size: 17px;
  clear: both;
  text-align: right;
}
/* line 161, ../sass/style.scss */
#container .index .logo {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 43%;
  width: 15%;
}
#container .index .logoo2 {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 43%;
  width: 100%;
}

/* line 169, ../sass/style.scss */
#container .index .voice {
  font-family: rochester;
  font-size: 35px;
  position: absolute;
  top: 55%;
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px #333;
}
/* line 180, ../sass/style.scss */
#container .index .right {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: open sans;
}
/* line 187, ../sass/style.scss */
#container .index .right span {
  text-align: center;
}
/* line 192, ../sass/style.scss */
#container .index .desc {
  display: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 35%;
  text-align: left;
  font-family: consolas;
  width: 100%;
}
/* line 201, ../sass/style.scss */
#container .index .desc span {
  padding: 0 1%;
}
/* line 204, ../sass/style.scss */
#container .index .desc .cursor {
  padding: 0;
  font-weight: bolder;
}
/* line 212, ../sass/style.scss */
#container .about {
  background-color: white;
}
/* line 3, ../sass/partials/_nav.scss */
#container .about nav {
  color: #000;
}
/* line 5, ../sass/partials/_nav.scss */
#container .about nav .name i {
  border: 0;
}
/* line 7, ../sass/partials/_nav.scss */
#container .about nav .name i:hover {
  border: 0;
}
/* line 13, ../sass/partials/_nav.scss */
#container .about nav .pagename span {
  font-size: 10px;
}
/* line 18, ../sass/partials/_nav.scss */
#container .about nav i.no-style {
  border: 0;
}
/* line 20, ../sass/partials/_nav.scss */
#container .about nav i.no-style:hover {
  border: 0;
}
/* line 25, ../sass/partials/_nav.scss */
#container .about nav .ciricon {
  padding: 4px;
  border-bottom: 1px solid #000;
  color: #000;
}
/* line 29, ../sass/partials/_nav.scss */
#container .about nav .ciricon:hover {
  border-bottom: 0;
  border-top: 1px solid #000;
}
/* line 217, ../sass/style.scss */
#container .about .maincontent {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  color: #333;
  padding: 40px 40px;
}
/* line 222, ../sass/style.scss */
#container .about .maincontent #bx-pager {
  font-family: josefin sans;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  font-size: 12px;
}
/* line 228, ../sass/style.scss */
#container .about .maincontent #bx-pager a {
  color: #DC3D24;
  padding: 5px;
  letter-spacing: 2px;
  outline: none;
}
/* line 233, ../sass/style.scss */
#container .about .maincontent #bx-pager a:active {
  text-decoration: none;
}
/* line 238, ../sass/style.scss */
#container .about .maincontent .slide {
  text-align: center;
  overflow: hidden;
}
/* line 242, ../sass/style.scss */
#container .about .maincontent .slide .slide1 {
  position: relative;
}
/* line 247, ../sass/style.scss */
#container .about .maincontent h2 {
  font-family: Josefin Sans;
  font-weight: 700;
  color: #DC3D24;
  text-transform: uppercase;
  font-size: 21px;
}
/* line 256, ../sass/style.scss */
#container .about .maincontent .tam {
  font-family: 'Droid Sans Tamil',serif !important;
}
/* line 259, ../sass/style.scss */
#container .about .maincontent hr {
  width: 50%;
  border: 1px solid #444;
}
/* line 263, ../sass/style.scss */
#container .about .maincontent p {
  color: #444;
  font-family: merriweather sans;
  font-weight: 100;
  font-size: 22px;
}
/* line 269, ../sass/style.scss */
#container .about .maincontent p.tamil {
  font-family: 'Droid Sans Tamil', serif;
  font-weight: 100;
  font-style: normal;
  font-size: 10px;
  font-size: 1rem;
  text-align: left;
}
/* line 278, ../sass/style.scss */
#container .about .maincontent .royalSlider {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  height: 350px;
}
/* line 282, ../sass/style.scss */
#container .about .maincontent .rsDefault {
  background-color: #232B2B;
  color: #ccc;
}
/* line 288, ../sass/style.scss */
#container .about .maincontent .photo {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}
/* line 290, ../sass/style.scss */
#container .about .maincontent .photo img {
  width: 72px;
  padding: 5px;
  border: 3px solid #cccccc;
  border-radius: 100%;
}
/* line 298, ../sass/style.scss */
#container .about .maincontent .desc {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 16.94915%;
  clear: none;
  text-align: left;
}
/* line 301, ../sass/style.scss */
#container .about .maincontent .desc h3 {
  font-size: 14px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
}
/* line 307, ../sass/style.scss */
#container .about .maincontent .desc P {
  font-size: 17px;
  font-family: merriweather sans;
  font-weight: 100;
}
/* line 314, ../sass/style.scss */
#container .about .maincontent .s1 {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: left;
}
/* line 317, ../sass/style.scss */
#container .about .maincontent .s1 .illustration {
  width: 15.25424%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  font-size: 36px;
  padding-top: 2%;
  text-align: center;
  color: #444;
}
/* line 325, ../sass/style.scss */
#container .about .maincontent .s1 .illustration img {
  width: 80px;
  padding-left: 20px;
}
/* line 330, ../sass/style.scss */
#container .about .maincontent .s1 .illustration .ciricon {
  font-size: 21px;
  border: 2px solid #444444;
  padding: 6px 5px;
  border-radius: 100%;
}
/* line 337, ../sass/style.scss */
#container .about .maincontent .s1 .jelly {
  width: 74.57627%;
  float: left;
  margin-right: -100%;
  margin-left: 16.94915%;
  clear: none;
  text-align: left;
}
/* line 341, ../sass/style.scss */
#container .about .maincontent .s1 .jelly h2 {
  font-family: Open sans;
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  color: #444;
}
/* line 349, ../sass/style.scss */
#container .about .maincontent .s1 .jelly p {
  font-style: normal;
  font-size: 12px;
}
/* line 358, ../sass/style.scss */
#container .about .maincontent .skills .skillblock {
  font-family: open sans;
  font-size: 12px;
}
/* line 366, ../sass/style.scss */
#container .works {
  background-color: white;
}
/* line 3, ../sass/partials/_nav.scss */
#container .works nav {
  color: #000;
}
/* line 5, ../sass/partials/_nav.scss */
#container .works nav .name i {
  border: 0;
}
/* line 7, ../sass/partials/_nav.scss */
#container .works nav .name i:hover {
  border: 0;
}
/* line 13, ../sass/partials/_nav.scss */
#container .works nav .pagename span {
  font-size: 10px;
}
/* line 18, ../sass/partials/_nav.scss */
#container .works nav i.no-style {
  border: 0;
}
/* line 20, ../sass/partials/_nav.scss */
#container .works nav i.no-style:hover {
  border: 0;
}
/* line 25, ../sass/partials/_nav.scss */
#container .works nav .ciricon {
  padding: 4px;
  border-bottom: 1px solid #000;
  color: #000;
}
/* line 29, ../sass/partials/_nav.scss */
#container .works nav .ciricon:hover {
  border-bottom: 0;
  border-top: 1px solid #000;
}
/* line 370, ../sass/style.scss */
#container .works .maincontent {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  color: #333;
  padding: 40px 40px;
}
/* line 375, ../sass/style.scss */
#container .works .maincontent h2 {
  font-family: Josefin Sans;
  font-weight: 700;
  color: #DC3D24;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
}
/* line 383, ../sass/style.scss */
#container .works .maincontent hr {
  width: 50%;
  border: 1px solid #444444;
}
/* line 387, ../sass/style.scss */
#container .works .maincontent p {
  color: #444444;
  font-family: merriweather sans;
  font-weight: 100;
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
/* line 397, ../sass/style.scss */
#container .works .maincontent .projects {
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none;
  text-align: justify;
  float: none;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 10%;
}
/* line 405, ../sass/style.scss */
#container .works .maincontent .projects .item {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40% 0px;
  background-color: #444;
  color: rgba(255, 255, 255, 0.5);
  background-position: center center;
  background-size: cover;
  -moz-box-sizing: border-box;
  border-width: 0;
}
/* line 417, ../sass/style.scss */
#container .works .maincontent .projects .item:hover {
  background-color: #dc3d24;
}
/* line 421, ../sass/style.scss */
#container .works .maincontent .projects a {
  text-decoration: none;
  border-bottom: 1px solid rgba(150, 150, 150, 0.7);
  font-size: 11px;
  font-family: open sans;
  text-transform: uppercase;
}
/* line 434, ../sass/style.scss */
#container .contact {
  background-color: white;
}
/* line 3, ../sass/partials/_nav.scss */
#container .contact nav {
  color: #000;
}
/* line 5, ../sass/partials/_nav.scss */
#container .contact nav .name i {
  border: 0;
}
/* line 7, ../sass/partials/_nav.scss */
#container .contact nav .name i:hover {
  border: 0;
}
/* line 13, ../sass/partials/_nav.scss */
#container .contact nav .pagename span {
  font-size: 10px;
}
/* line 18, ../sass/partials/_nav.scss */
#container .contact nav i.no-style {
  border: 0;
}
/* line 20, ../sass/partials/_nav.scss */
#container .contact nav i.no-style:hover {
  border: 0;
}
/* line 25, ../sass/partials/_nav.scss */
#container .contact nav .ciricon {
  padding: 4px;
  border-bottom: 1px solid #000;
  color: #000;
}
/* line 29, ../sass/partials/_nav.scss */
#container .contact nav .ciricon:hover {
  border-bottom: 0;
  border-top: 1px solid #000;
}
/* line 439, ../sass/style.scss */
#container .contact .maincontent {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding: 40px 40px;
  color: #333;
}
/* line 444, ../sass/style.scss */
#container .contact .maincontent h2 {
  font-family: Josefin Sans;
  font-weight: 700;
  color: #DC3D24;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
}
/* line 452, ../sass/style.scss */
#container .contact .maincontent hr {
  width: 50%;
  border: 1px solid #444444;
}
/* line 456, ../sass/style.scss */
#container .contact .maincontent p {
  color: #444444;
  font-family: merriweather sans;
  font-weight: 100;
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
/* line 465, ../sass/style.scss */
#container .contact .maincontent .contactform {
  padding: 0% 20%;
  max-width: 978px;
  margin: 0 auto;
  margin-top: 6%;
}
/* line 471, ../sass/style.scss */
#container .contact .maincontent .contactform input, #container .contact .maincontent .contactform textarea {
  font-family: merriweather sans;
  font-weight: 100;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: none;
  background-color: transparent;
  color: #444;
  border-radius: 0;
  margin-top: 5px;
  resize: none;
}
/* line 482, ../sass/style.scss */
#container .contact .maincontent .contactform input:focus, #container .contact .maincontent .contactform textarea:focus {
  box-shadow: none;
  background-color: transparent;
  border: 0;
}
/* line 488, ../sass/style.scss */
#container .contact .maincontent .contactform button[type="submit"], #container .contact .maincontent .contactform button[type="reset"] {
  background-image: none;
  background-color: #141919;
  border: 0;
  border-radius: 0;
  font-family: Open Sans;
  font-weight: 100;
  color: #ccc;
}
/* line 496, ../sass/style.scss */
#container .contact .maincontent .contactform button[type="submit"]:hover, #container .contact .maincontent .contactform button[type="reset"]:hover {
  background-color: #DC3D24;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: none;
}
/* line 502, ../sass/style.scss */
#container .contact .maincontent .contactform .btn-primary {
  box-shadow: none;
}
/* line 505, ../sass/style.scss */
#container .contact .maincontent .contactform .control-label {
  font-family: open sans;
  font-size: 90%;
  font-weight: 100;
}
/* line 514, ../sass/style.scss */
#container .credits {
  background-color: white;
  overflow: hidden;
}
/* line 3, ../sass/partials/_nav.scss */
#container .credits nav {
  color: #000;
}
/* line 5, ../sass/partials/_nav.scss */
#container .credits nav .name i {
  border: 0;
}
/* line 7, ../sass/partials/_nav.scss */
#container .credits nav .name i:hover {
  border: 0;
}
/* line 13, ../sass/partials/_nav.scss */
#container .credits nav .pagename span {
  font-size: 10px;
}
/* line 18, ../sass/partials/_nav.scss */
#container .credits nav i.no-style {
  border: 0;
}
/* line 20, ../sass/partials/_nav.scss */
#container .credits nav i.no-style:hover {
  border: 0;
}
/* line 25, ../sass/partials/_nav.scss */
#container .credits nav .ciricon {
  padding: 4px;
  border-bottom: 1px solid #000;
  color: #000;
}
/* line 29, ../sass/partials/_nav.scss */
#container .credits nav .ciricon:hover {
  border-bottom: 0;
  border-top: 1px solid #000;
}
/* line 530, ../sass/style.scss */
#container .credits .mainbar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding: 40px 40px;
  color: #444;
}
/* line 535, ../sass/style.scss */
#container .credits .mainbar h2 {
  font-family: Josefin Sans;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
}
/* line 543, ../sass/style.scss */
#container .credits .mainbar hr {
  width: 50%;
  border: 1px solid #444444;
}
/* line 547, ../sass/style.scss */
#container .credits .mainbar p {
  color: #444444;
  font-family: merriweather sans;
  font-weight: 100;
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
/* line 558, ../sass/style.scss */
#container .credits .mainbar .credit-holds {
  width: 66.10169%;
  float: left;
  margin-right: -100%;
  margin-left: 16.94915%;
  clear: none;
  margin-top: 2%;
  text-align: center;
  font-family: open sans;
  font-weight: 100;
  font-size: 12px;
  font-size: 1.1rem;
}
/* line 574, ../sass/style.scss */
#container .end {
  background-color: white;
}
/* line 3, ../sass/partials/_nav.scss */
#container .end nav {
  color: #000;
}
/* line 5, ../sass/partials/_nav.scss */
#container .end nav .name i {
  border: 0;
}
/* line 7, ../sass/partials/_nav.scss */
#container .end nav .name i:hover {
  border: 0;
}
/* line 13, ../sass/partials/_nav.scss */
#container .end nav .pagename span {
  font-size: 10px;
}
/* line 18, ../sass/partials/_nav.scss */
#container .end nav i.no-style {
  border: 0;
}
/* line 20, ../sass/partials/_nav.scss */
#container .end nav i.no-style:hover {
  border: 0;
}
/* line 25, ../sass/partials/_nav.scss */
#container .end nav .ciricon {
  padding: 4px;
  border-bottom: 1px solid #000;
  color: #000;
}
/* line 29, ../sass/partials/_nav.scss */
#container .end nav .ciricon:hover {
  border-bottom: 0;
  border-top: 1px solid #000;
}
/* line 578, ../sass/style.scss */
#container .end .layer-nav {
  background-color: #fff;
}
/* line 581, ../sass/style.scss */
#container .end .fullwrap {
  background-color: #fff;
  overflow: auto;
  width: 100%;
  display: block;
}
/* line 587, ../sass/style.scss */
#container .end .mainbar {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding: 40px 40px;
  color: #333;
}
/* line 591, ../sass/style.scss */
#container .end .mainbar .topwrap {
  background-color: #fff;
  padding-top: 1px;
  padding-bottom: 10px;
}
/* line 600, ../sass/style.scss */
#container .end .mainbar .topwrap h2 {
  font-family: Josefin Sans;
  font-weight: 700;
  color: #DC3D24;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
}
/* line 608, ../sass/style.scss */
#container .end .mainbar .topwrap hr {
  width: 30%;
  border: 1px solid #444;
}
/* line 612, ../sass/style.scss */
#container .end .mainbar .topwrap p {
  color: #444;
  font-family: merriweather sans;
  font-weight: 100;
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}
/* line 627, ../sass/style.scss */
#container .end .mainbar .ldot-logo {
  text-align: center;
  margin: 0 auto;
}
/* line 630, ../sass/style.scss */
#container .end .mainbar .ldot-logo span {
  font-family: llogo;
  font-size: 50px;
  font-size: 5rem;
  color: #444;
  opacity: 0.9;
  border: 5px solid #444;
  border-radius: 100% 100% 100% 100%;
  padding: 7px 0px 0px 7px;
}
/* line 641, ../sass/style.scss */
#container .end .mainbar ul {
  text-align: center;
  list-style-type: none;
}
/* line 644, ../sass/style.scss */
#container .end .mainbar ul li {
  display: inline;
  padding-right: 20px;
  color: #232B2B;
  font-family: josefin sans;
  font-weight: bold;
  font-size: 8px;
  font-size: 0.8rem;
}
/* line 651, ../sass/style.scss */
#container .end .mainbar ul li a {
  color: #DC3D24;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 655, ../sass/style.scss */
#container .end .mainbar ul li a:hover {
  color: #444;
}
/* line 662, ../sass/style.scss */
#container .end .mainbar .footerwrap {
  margin-top: 10%;
}
/* line 664, ../sass/style.scss */
#container .end .mainbar .footerwrap footer {
  text-align: center;
}
/* line 669, ../sass/style.scss */
#container .end .mainbar .copyright {
  font-family: josefin sans;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8px;
  font-size: 0.8rem;
  display: inline-block;
}
/* line 678, ../sass/style.scss */
#container .end .mainbar .connect {
  display: inline-block;
}
/* line 680, ../sass/style.scss */
#container .end .mainbar .connect a {
  color: #232B2B;
  text-transform: uppercase;
  font-family: josefin sans;
  font-size: 8px;
  font-size: 0.8rem;
}
